html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: flex-end;

}
button{
    margin: 7vh;
    font-size: 3vh;
    color: white;
    border: solid black 2px;
    background-color: red;
    border-radius: 15px;
    padding: 1vw;
}
button:hover{
    cursor: pointer;
}
